<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>
  <link rel="stylesheet" type="text/css" href="../static/css/index.css">


  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
    rel="stylesheet">
</head>

<body>
  {{template "nav" .}}

  <main id="#main">

    <form method="post" action="/authenticate">
      <input type="text" name="csrf_token" value="{{.CSRFToken}}" hidden>
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="password" placeholder="Password">
      <button type="submit">Login</button>
    </form>

  </main>
</body>

</html>