{{define "nav"}}
<header class="primary-header flex">

  <nav>
    <ul id="primary-navigation" class="primary-navigation underline-indicators flex">
      <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/">Home</a></li>
      <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/signup">Signup</a></li>
      <li><a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/login" data-visible="false">Login</a>
      </li>
    </ul>
  </nav>
</header>

{{end}}