<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <link rel="stylesheet" type="text/css" href='{{if .CssSrc}}{{.CssSrc}}{{else}}../static/css/index.css{{end}}'>

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
    rel="stylesheet">

  <script src="../static/js/4profile-options.js" type="text/javascript" defer></script>

  <title>My Profile</title>
</head>

<body>
  {{template "nav" .}}

  <nav role="profileoptions">
    <ul class="flex grid underline-indicators">

      <li role="option"><a class="ff-sans-cond uppercase text-white letter-spacing-2" tabindex="1">Change username</a>
        <form method="PUT" action="/updateUserName" hidden="true">
          <input type="text" name="csrf_token" value="{{.CSRFToken}}" hidden>
          <input type="text" name="name" placeholder="username">
          <button type="submit">Submit</button>
        </form>
      </li>
      <li role="option"><a class="ff-sans-cond uppercase text-white letter-spacing-2" tabindex="2">Change email</a>
        <form method="PUT" action="/updateEmail" hidden="true">
          <input type="text" name="csrf_token" value="{{.CSRFToken}}" hidden>
          <input type="text" name="name" placeholder="email">
          <button type="submit">Submit</button>
        </form>
      </li>

      <li role="option"><a class="ff-sans-cond uppercase text-white letter-spacing-2" tabindex="3">Change
          password</a>
        <form method="PUT" action="/updatePassword" hidden="true">
          <input type="text" name="csrf_token" value="{{.CSRFToken}}" hidden>
          <input type="text" name="name" placeholder="password">
          <button type="submit">Submit</button>
        </form>
      </li>
      <li role="option"><a class="ff-sans-cond uppercase text-white letter-spacing-2" tabindex="4"> Delete account</a>
        <form method="PUT" action="/deleteUser" hidden="true">
          <input type="text" name="csrf_token" value="{{.CSRFToken}}" hidden>
          <button type="submit">PLEASE CLICK HERE IF YOU ARE SURE YOU WANT TO DELETE YOUR ACCOUNT</button>
        </form>

      </li>
    </ul>
  </nav>


</body>

</html>