<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <link rel="stylesheet" type="text/css" href='{{if .CssSrc}}{{.CssSrc}}{{else}}../static/css/index.css{{end}}'>

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
    rel="stylesheet">

  <script src="../static/js/42profile-options.js" type="text/javascript" defer></script>

  <title>My Profile</title>
</head>

<body>
  {{template "nav" .}}

  <nav role="profileoptions">
    <input type="text" id="csrf_token" value="{{.CSRFToken}}" hidden>
    <ul class="flex grid underline-indicators primary-navigation">

      <li role="option"><a class="ff-sans-cond uppercase text-white letter-spacing-2">Change username</a>
        <ul role="form" hidden>
          <input type="text" name="username" id="username" placeholder="username">
          <button onclick="sendUserName()">Submit</button>
        </ul>

      </li>
      <li role="option"><a class="ff-sans-cond uppercase text-white letter-spacing-2">Change email</a>
        <ul role="form" hidden>
          <input type="email" name="email" id="email" placeholder="email">
          <button onclick="sendEmail()">Submit</button>
        </ul>
      </li>

      <li role="option"><a class="ff-sans-cond uppercase text-white letter-spacing-2">Change
          password</a>
        <ul role="form" hidden>
          <input type="text" name="password" id="password" placeholder="password">
          <button onclick="sendPassword()">Submit</button>
        </ul>
      </li>
      <li role="option"><a class="ff-sans-cond uppercase text-white letter-spacing-2">Delete account</a>
        <ul role="form" hidden>
          <input type="text" id="delete" hidden>
          <button onclick="sendDelete()">CLICK HERE IF YOU ARE SURE YOU WANT TO DELETE YOUR ACCOUNT</button>
        </ul>

      </li>
    </ul>
  </nav>


</body>

</html>