<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<form method="post" action="/signupAccount">
  <input type="text" name="Name" placeholder="User name">
  <input type="email" name="Email" placeholder="Email">
  <input type="pw" name="Pw" placeholder="Password">
  <button type="submit">Register</button>
</form>

<body>

</body>

</html>